# Requirements file, with all versions strictly pinned to exact values
# Put relaxed version constraints in requirements.dev.txt
# (and be sure to keep those two files in sync!)

Django==2.0
psycopg2==2.7.3.2
django-environ==0.4.4
whitenoise==3.3.0
djangorestframework==3.7.7
coreapi==2.3.3
Markdown==2.6.10
django-money==0.12.3
django-filter==1.1.0
